body{
    margin: 0;
}
.container{
    display: grid;
    grid-template-areas:
     "header header header header"
     "sidebar section1 section2 section3"
     "footer footer footer footer";
    grid-template-columns: 1fr 2fr 2fr 2fr;
    grid-template-rows: 40px 499px 40px;
    grid-gap: 20px;
}
.s{
    border: 1px solid rgb(119, 118, 118); 
    text-align: center;
}

.header{
    background-color: rgb(39, 38, 38);
    grid-area: header;
    color: aliceblue;
    padding-top: 8px;
}

.sidebar{
    grid-area: sidebar;
    background-color: rgb(90, 88, 88);
    color: aliceblue;
}
.section1{
    grid-area: section1;
    height: 100px;
    background-color: rgb(226, 215, 215);
    text-align: left;
}
.section2{
    grid-area: section2;
    height: 100px;
    background-color: rgb(226, 215, 215);
    text-align: left;
}
.section3{
    grid-area: section3;
    height: 100px;
    background-color: rgb(226, 215, 215);
    text-align: left;
    margin-right:2px ;
}
.footer{
    background-color: rgb(39, 38, 38);
    grid-area: footer;
    color: aliceblue;
    text-align: center;
    padding-top: 8px;
}